/* Reset CSS pour réinitialiser les styles par défaut du navigateur */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; /* Utilisation de la police Montserrat */
    background-color: #1C2A4A;
    color:#FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Styles généraux */
header {
    background-color: #1C2A4A;
    color: #FFFFFF;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Ajoutez ces styles pour centrer le logo au milieu de la page */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Ajustez la hauteur selon vos besoins */
}

.logo img {
    width: 500px;
    height: auto;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-color:#1C2A4A;
    color: #FFFFFF;
}

.products, .story, .traceability, .contact {
    padding: 50px 0;
}

.product {
    margin-bottom: 40px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.story, .traceability, .contact {
    background-color: #1C2A4A;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1C2A4A;
    color: #FFFFFF;
}
